.form {
  padding-left: 2em;
}

.landingpagebar {
  background-color: ghostwhite;
  padding: 10em;
  padding-left: 0.5em;
  padding-top: 0.5em;
  font-size: 1.2em;
  color: black;
}

.landingpage {
  display: ruby-base-container;
  color: black;
  height: 50px;
  width: 40px;
}

.landingpageform {
  width: 85em;
  border-color: blue;
  height: 17.5em;
  padding-top: -5em;
  padding-left: 0.5em;
  background-color: orange
}

.post {
  background-color: blue;
  Color: white;
}

.button {
  padding-left: 83.35em;
}

/* interior box2 styling*/
.postform2 {
  height: 5em;
  width: 100em;
  padding-left: 0.001em;
  background-color:ghostwhite;
}

/* Entire panel of post moving right/left*/
.postform1 {
  width: 80em;
  margin-left: 2em;
}

/*Start planning interior box1 styling*/
.landingpage1 {
  height: 80px;
  width: 950px;
}



input[type=text], input[type=date] {
  padding-top: 20em;
  width: 42%;
  padding: 10px;
  margin: 10px 0 22px 0;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
